# Assignment 1
### Q1. Create one variable containing following type of data:

* (i) string
* (ii) list
* (iii) float
* (iv) tuple

In [1]:
#creating variable containing string datatype
a="vinayak"
#creating variable containing list datatype
b=["mango","apple","orange","strawberry"]
#creating variable containing float datatype
c=3.98
#creating variable containing tuple datatype
d=("rohit","raju","rohan","Ramesh")
#creating variable containing nested tuple 
e=(1,2,3,4,(5,6,7,8))

### Q2. Given are some following variables containing data:

* (i) var1 = ‘ ‘

* (ii) var2 = ‘[ DS , ML , Python]’

* (iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

* (iv) var4 = 1.

What will be the data type of the above given variable.

In [2]:
var1 = ""

In [3]:
var2 = "[ DS , ML , Python]"

In [4]:
var3 = [ "DS" , "ML" , "Python" ]

In [5]:
var4 = 1

In [6]:
type(var1)

str

In [7]:
type(var2)

str

In [8]:
type(var3)

list

In [9]:
type(var4)

int

### Q3. Explain the use of the following operators using an example:
* (i) /
* (ii) %
* (iii) // 
* (iv) **

In [10]:
a = 11
b = 3

# division
print ('Division: ', a / b) 

# floor division
print ('Floor Division: ', a // b)

# modulo
print ('Modulo: ', a % b)  

# a to the power b
print ('Power: ', a ** b)

Division:  3.6666666666666665
Floor Division:  3
Modulo:  2
Power:  1331

### Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the element and its data type.

In [11]:
lst=["vinayak",1,2,3,98.7,(8,7,6,5),['a','b','c'],{"vinayak","piyush","ashmita","arunima"},{9,10,11,22},"rajasthan"]

In [12]:
for i in lst:
    print(i,type(i))

vinayak <class 'str'>
1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
98.7 <class 'float'>
(8, 7, 6, 5) <class 'tuple'>
['a', 'b', 'c'] <class 'list'>
{'vinayak', 'ashmita', 'arunima', 'piyush'} <class 'set'>
{9, 10, 11, 22} <class 'set'>
rajasthan <class 'str'>

### Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible.

In [13]:
number_a = 37
number_b = 6
count = 0

while number_a % number_b == 0:
    count += 1
    number_a = number_a / number_b

if count > 0:
    print(f"The number {number_a} is divisible by {number_b} {count} times.")
else:
    print(f"The number {number_a} is not divisible by {number_b}.")

The number 37 is not divisible by 6.

### Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.

In [14]:
numbers = [12, 7, 18, 9, 5, 27, 36, 14, 21, 30, 16, 10, 33, 22, 8, 25, 6, 15, 4, 11, 20, 24, 17, 3, 28]

for number in numbers:
    if number % 3 == 0:
        print(f"{number} is divisible by 3.")
    else:
        print(f"{number} is not divisible by 3.")

12 is divisible by 3.
7 is not divisible by 3.
18 is divisible by 3.
9 is divisible by 3.
5 is not divisible by 3.
27 is divisible by 3.
36 is divisible by 3.
14 is not divisible by 3.
21 is divisible by 3.
30 is divisible by 3.
16 is not divisible by 3.
10 is not divisible by 3.
33 is divisible by 3.
22 is not divisible by 3.
8 is not divisible by 3.
25 is not divisible by 3.
6 is divisible by 3.
15 is divisible by 3.
4 is not divisible by 3.
11 is not divisible by 3.
20 is not divisible by 3.
24 is divisible by 3.
17 is not divisible by 3.
3 is divisible by 3.
28 is not divisible by 3.

### Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.

* In programming, mutable and immutable are terms used to describe the ability of an object or data type to be modified or changed after it is created.

#### Immutable Data Types:
Immutable data types are those that cannot be modified after they are created. When you perform an operation on an immutable object, a new object is created with the updated value. The original object remains unchanged. Immutable objects are safer to use in multi-threaded environments because they cannot be modified concurrently.

* Examples of immutable data types in Python include:


* Integer: x = 5. If you perform an operation like x += 1, a new integer object is created with the updated value, while x still refers to the original object.

* Float: pi = 3.14. Similar to integers, if you perform an operation like pi *= 2, a new float object is created with the updated value, while pi still refers to the original object.

* String: message = "Hello". If you perform an operation like message += " World", a new string object is created with the concatenated value, while message still refers to the original object.


#### Mutable Data Types:
Mutable data types, on the other hand, are objects that can be modified after they are created. When you perform an operation on a mutable object, the object itself is modified without creating a new object. This can be useful for scenarios where you need to modify an object in-place.

* Examples of mutable data types in Python include:


* List: my_list = [1, 2, 3]. If you perform an operation like my_list.append(4), the original list is modified by adding the element 4.

* Dictionary: my_dict = {'a': 1, 'b': 2}. If you perform an operation like my_dict['c'] = 3, the original dictionary is modified by adding a new key-value pair.

* Set: my_set = {1, 2, 3}. If you perform an operation like my_set.add(4), the original set is modified by adding the element 4.

* In both cases, understanding whether a data type is mutable or immutable helps in designing programs, handling data, and ensuring the desired behavior in different scenarios.